<html>
    <center>
        <tittle>LAVADORA ENDARA</tittle>
    </center>
    <hr>    
    <body>
            <h1>Lavada Completa</h1>
            <h2>Lavada Express</h2>
            <h3>Limpieza por dentro</h3>
            <h4>Cambio de Aceite</h4>
            <h5>Cambio filtro combustible</h5>
            <h6>Productos de limpieza </h6>

        <p>Parrafo 1</p>

        <hr>

        <h1>Logo</h1>
    
        <p> Me olbide de poner la imagen XD </p>

        <hr>

        <center>

        <h1> TABLAS CLIENTES </h1>

        <table border="1" width="80%">
            <tr>
                <th>Cedula</th>
                <th>Apellidos y Nombres</th>
                <th>Correo Electronico</th>
                <th>Telefono</th>
            </tr>
            <tr>
                <td>1720127180</td>
                <td>Anderson Daniel</td>
                <td>usuario@gmail.com</td>
                <td>022731586</td>
            </tr>
            <tr>
                <td>1234567891</td>
                <td>Jose Segundo</td>
                <td>valle@gmail.com</td>
                <td>0222222222</td>
            </tr>
            <tr>
                <td>1987456321</td>
                <td>Juan Gregorio</td>
                <td>gregoriotran@gmail.com</td>
                <td>033333333</td>
            </tr>
            <tr>
                <td>1875321409</td>
                <td>Ana de Armas</td>
                <td>armitas1233@gmail.com</td>
                <td>0444444444</td>
            </tr>
            <tr>
                <td>1444444444</td>
                <td>Franklin Uno</td>
                <td>unodos@gmail.com</td>
                <td>0555555555</td>
            </tr>
        </table>
        </center>

        <hr> 

        <h1> LISTAS <h1>
            <ol>    
                <li>Texto 1</li>
                <li>Texto 2</li>
                <li>Texto 3</li>
            </ol>

            <hr>            

        <h1> LISTAS ORDENADAS </h1>

        <ul>
            <li>Factura 4</li>
            <li>Factura 5</li>
            <li>Factura 6</li>
        </ul>

        <hr>

        <h1>PRODUCTOS</h1>

        <ul>
        
            <li>ACEITE MOTOR 1</li>
            <li>ACEITE HIDRAULICO 5</li>
        <ol>
                <li>Texto 2.1</li>
                <li>Texto 2.2</li>
        </ol>
        </ul>

        <br>
        <br>
    </body>           
</html>